h1{
font-family: 'Vidaloka', serif;
text-align:center;
font-weight:normal;
color:#444;
}
.maintitle{
color:#ff7f50;
display:block;
font-size:50px;
line-height:50px;
letter-spacing:-4px;
text-shadow:1px 1px 3px #fff,3px 3px 6px #ffa07a;
}