@import '~bootstrap/scss/bootstrap';
@import 'homes';
@import 'addresses/address';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.pagination {
  justify-content: center;
}